@font-face {
	src: url(fonts/HarmoniaSansProCyr-Regular.ttf);
	font-family: KevinRegular;
}

* {
	box-sizing: border-box;
    margin: 0px;
}

body {
	margin: 0;
    background-color: white;
    color: black;
}

p {
	display: block;
	font-size: 18px;
}

a, a:visited, a:hover, a:active {
    all: unset;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease-in;
}

button {
    all: unset;
    cursor: pointer;
    border: none;
}

.wrapper {
	display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
	width: 100vw;
}

.content {
	display: flex;
    flex-direction: column;
	width: 100%;
    height: 100%;
    max-width: 1000px;
	font-family: KevinRegular;
}

.navbar {
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-height: 75px;
    top: 0px;
    left: 0px;
    z-index: 1;
    padding: 10px;
    background: transparent;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: sticky;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.logo {
	display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.contact {
	display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.github, .linkedin, .projects {
	padding: 0px 10px;
	font-size: 18px;
}

.github:hover, .linkedin:hover {
    text-decoration-line: underline;
    text-underline-offset: 4px;
}

.welcome {
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.welcomecontainer {
	display: flex;
    flex-direction: column;
}

.welcometext {
	display: flex;
	flex-direction: column;
}

.welcomekevin {
	font-size: 90px;
	padding-left: 10px;
}

.welcomewebsite {
    font-size: 20px;
	padding-left: 15px;
}

.projects_display {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

#projectstitle {
    font-size: 50px;
}

.break {
    height: 50px;
}

.projectcontainer {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

.projectmywebsite {
    display: flex;
    flex-direction: column;
}

.project_title {
    font-size: 25px;
}

.project_preview {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (max-width: 1000px) {
    .project_preview {
        -webkit-box-align: center;
        align-items: center;
    }
}

#preview_image {
    border: 3px solid;
    border-radius: 5px;
    height: 360px;
    width: 640px;
}

@media (max-width: 700px) {
    #preview_image {
        height: 225px;
        width: 400px;
    }
}

.programming_languages {
    display: flex;
}

@media (max-width: 700px) {
    .programming_languages {
        flex-direction: column;
    }
}

.language_container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-right: 15px;
}

.javascript {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(240, 219, 79);
}

.node_js {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(104, 160, 99); 
}

.express_js {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(255,105,180); 
}

.html {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(227, 76, 38); 
}

.css {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(41, 101, 241); 
}

.pug_js {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(196, 164, 132);   
}

.mongodb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(77, 179, 61);   
}

.c_language {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(64, 102, 224);   
}

.project_desc {
    display: flex;
}

@media (max-width: 700px) {
    .project_desc {
        padding-left: 25px;
        padding-right: 15px;
    }
}

#nightmodebutton {
    padding-right: 15px;
}
